set editing-mode vi

# Indicator for insert/command mode does not work with multiline prompts.
set show-mode-in-prompt on

set vi-ins-mode-string "$"
set vi-cmd-mode-string "-"

# Switch to block cursor before executing a command.
set keymap vi-insert
# RETURN: "\e\n"

# Readline has a delay after pressing escape, reduce from 500ms to 50.
set keyseq-timeout 50

set blink-matching-paren on
set colored-stats on
set colored-completion-prefix on
set completion-ignore-case on

# No bell on unnecessary backspace.
set bell-style "none"

# https://stackoverflow.com/questions/10980575/how-can-i-unbind-and-remap-c-w-in-bash
set bind-tty-special-chars Off
